.box{
    flex: 0 1 25%;
    min-width: 100px;
    padding: 30px;
    background-color: #FDFCE5;
    border:3px solid #D7E9F7;
    border-radius: 6px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.title{
    color: #F4D19B;
}
.thumbnail{
}